@font-face {
    font-family: "Baddit";
    font-style: normal;
    font-weight: normal;
    src: url(/Fuentes/Baddit.ttf);
}

h1{
    font-family: "Baddit";
    color: rgb(5, 19, 1);
    text-shadow: 0px 15px 7px rgb(89, 212, 142);

}